.web{
    display: flex;
    flex: 1;
    align-items: center;
}

.web-option{
    font-size: 18px;
    margin-right: 16px;
    font-weight: 700;
}

.web-option a{
    text-decoration: none;
    color: var(--text-primary);
    display: flex;
    align-items: center;
}

.option-icon{
    display: flex;
    align-items: center;
    margin-right: 4px;
}

.web-option:last-child{
    margin-right: 0;
}

.underline{
    position: relative;
  }
  
  .underline::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #30ECBB;
    transition: width 0.8s cubic-bezier(0.25, 1, 0.5, 1);
  }
  
  @media (hover: hover) and (pointer: fine) {
    .underline:hover::before{
      left: 0;
      right: auto;
      width: 100%;
    }
  }